h1 {
    size: 60px;
    padding-left: 10px;
}

h1.logs {
    size: 60px;
    text-align: center;
}

h2 {
    size: 20px;
}
h3 {
    color: #d7d8da;
}
h4 {
    padding: 20px;
}
p {
    border-left: 60px;
}
main.container {
    border-left: 60px;
}
form {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    max-width: 800px;
}
table {
    text-align: center;
}
